<div class="category-product">
    <div class="header">
        <h2>Clothing</h2>
        <div class="line"></div>
    </div>
    <div class="container row">
        <div class="filter-container">
            <div class="expand" *ngFor="let filter of filterData; let i = index">
                <section class="group" >
                    <div class="filter-option">
                        <span name="title" class="title">{{filter.title}}</span>
                        <label>All</label>
                    </div>
                    <div class="arrow" [ngStyle]="{'transform': hasCategory ? 'rotate(180deg)': null}" (click)="hasCategory = !hasCategory"></div>
                </section>
                <ul class="filter-values" *ngIf="hasCategory">
                    <li *ngFor="let item of filter.items">{{item}}</li>
                </ul>
            </div> 
        </div>
        <div class="products">
            <product-card *ngFor="let item of productCard; let i=index" [id]="i" [cardDetail]="item"></product-card>
        </div>
    </div>
</div>
