<div class="banner-panel">
    <div class="container banner">
        <div class=""></div>
    </div>
</div>
<div class="container">
    <div class="text-content">
        <p>
            LaloCardigans is a Georgian brand of knitwear clothes. <br>
            Each item is a unique handmade piece from Georgia,<br>
            Caucasus.The brand was founded by twin sisters Lalo and Nina Dolidze in 2012.<br>
            …But the unusual story starts back in student years of Lalo Dolidze,<br>
            creative director of LaloCardigans.<br>
        </p>
        <p>
            While she studies subjects not related to fashion in the University,<br>
            she has a secret dream of owning her own brand and keeps craving for the fashion world,<br>
            but she can never really imagine herself as a fashion designer. She has an idea<br>
            of special knitted pieces and starts to wear hand woven cardigans made by her.<br>
            After a while her sister Nina encourages her and twin sisters decide that<br>
            it is time to share their love for cardigans to the world...<br>

        </p>
        <p>
        And they establish LaloCardigans, which was an instant success.<br>
        Lalo draws her inspiration from Nature’s most unique and beautiful features.<br>
        Often using for the collections shapes and silhouettes of different flowers and plants.<br>
        </p>
        <p>
            In 2016 Lalo Dolidze launches a new line “LALO”.<br>
            She uses an original mix of exquisite intarsia,<br>
            finest special yarns and blends, hand-painted natural yarns<br>
            from Caucasus crafted in endless combinations to create<br>
            an exclusive and unique textiles for Lalo collections.<br>
        </p>
   
    <p>
        When you hear the name “Lalo” , the first thing that comes into mind about<br>
        this brand are the knitted cardigans. This signature design made the brand<br>
        famous not only on the local market, but worldwide.<br>
        Today you will see these products in many countries across the globe.<br>
        With time, great desire for self-development and a lot of hard work “Lalo” is now<br>
        one of the most leading knitwear brands in Georgia and is actively present at MBFW Tbilisi

    </p>
      
    </div>
</div>
