<div class="header" [ngSwitch]="isSearchOpened">
    <ng-container *ngSwitchCase="false">
        <h1 class="logo" routerLink="/home">
            <img src="assets/media/logo.svg" alt="LALO-LOGO">
        </h1>
        <app-navigation></app-navigation>
        <div class="icons">
            <a>
                <img src="assets/media/search-icon.svg" alt="search-icon" (click)="isSearchOpened=true">
            </a>
            <a href="">
                <img src="assets/media/star-icon.svg" alt="star-icon">
            </a>
            <a href="">
                <img src="assets/media/basket-icon.svg" alt="basket-icon">
            </a>
            <a href="">
                <img src="assets/media/profile-icon.svg" alt="profile-icon">
            </a>
            <a href="">
                <img src="assets/media/ENG.svg" alt="lang">
            </a>       
        </div>
    </ng-container>
    <div class="search-panel container" *ngSwitchCase="true">
        <div class="icon-input">
            <img src="assets/media/search-icon.svg" alt="search-icon">
            <input type="text" name="" id="" placeholder="Search">
        </div>
        <button>
            <img src="assets/media/action-icons/btn-close.svg" alt="Close" (click)="isSearchOpened=false">
        </button>
            
        
    </div>  
</div>
