.header {
    height: 100px;
    background: #000000;
    justify-content: space-between;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 48px;

}
.icons {
    display: flex;
    align-items: center;
}
.icons a {
    margin-left: 18px;
    &:nth-child(1) {
        margin-left: 0
    }

}