<div class="header">
    <h1 class="logo">
        <img src="assets/media/logo.svg" alt="LALO-LOGO">
    </h1>
    <!-- <app-navigation></app-navigation> -->
    <div class="container" style="margin:auto">
        <span>hi</span>
    </div>
    <div class="icons">
        <a href="">
            <img src="assets/media/search-icon.svg" alt="search-icon">
        </a>
        <a href="">
            <img src="assets/media/star-icon.svg" alt="star-icon">
        </a>
        <a href="">
            <img src="assets/media/basket-icon.svg" alt="basket-icon">
        </a>
        <a href="">
            <img src="assets/media/profile-icon.svg" alt="profile-icon">
        </a>
        <a href="">
            <img src="assets/media/ENG.svg" alt="lang">
        </a>       
    </div>
   
    
</div>
