.header {
    height: 100px;
    background: #000000;
    justify-content: space-between;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 48px;

}
.icons {
    display: flex;
    align-items: center;
}
.icons a {
    margin-left: 18px;
    &:nth-child(1) {
        margin-left: 0
    }
    cursor: pointer;

}
.search-panel {
    display: flex;
    justify-content: space-between;
    .icon-input {
        align-self: middle;
    }
}
input[type=text] {
    border: none;
    background: none;
    height: 100%;
    font-size: 16px;
    margin-left: 8px;
    &:focus-visible {
        border: none
    }
}