.info {
    margin: 3rem 0;
    padding: 0 3rem;
    justify-content: flex-end;
}
.img-container {
    margin-right: 1rem;
    
}
.header {
    font-size: 30px;
}
.paragraphs {
    width:70%;
    word-wrap: break-word;
}
p {
    margin-top: 2rem;
}