<div class="container">
<div class="row info">
    <div class="img-container">
        <img src="/assets/media/press/marie-claire.png" alt="">
    </div>
    <div class="paragraphs">
        <label for="" class="header">MARIE CLAIRE</label>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet neque tincidunt, mattis justo quis, imperdiet nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at odio quis mi scelerisque fermentum. Aenean nibh felis, feugiat eu hendrerit non, aliquam in ligula. Quisque hendrerit cursus odio at accumsan. Suspendisse rutrum tristique ligula varius pharetra. Etiam ac enim tellus. Nam ultricies commodo nulla et convallis. Aliquam condimentum nulla eu est blandit, et dictum ipsum rutrum. Duis sed pretium diam, id dictum orci. Fusce gravida faucibus lacus ac malesuada. Vivamus a ante vitae nisi ultrices bibendum sit amet sed velit.
        </p>
        <p>
            Donec sit amet dui sit amet nunc aliquam porta. Nam porta augue sodales pulvinar mollis. Aliquam at luctus nisi, eu congue nisl. Cras in lacus ut velit pulvinar pulvinar et eget tellus. In non laoreet mi. In hac habitasse platea dictumst. Pellentesque mollis, enim id hendrerit fermentum, nisi dui sollicitudin nisl, nec tempus risus tortor ullamcorper sapien. Duis sollicitudin velit at turpis blandit, vitae consequat velit faucibus. Pellentesque mollis diam turpis, ac dignissim massa scelerisque quis. Duis porta mi ut ante mollis, at varius ante dictum. Duis bibendum luctus est eu fermentum. Donec sodales magna a tempus rhoncus.
        </p>
    </div>
</div>
</div>
