<div class="route-path">
    <span>Clothing / All / Peony sweater</span>
</div>
<div class="container">
    <div class="product row">
        <div class="image-preview row">
            <div class="small">
                <img src="assets/media/product/product-detail.png" alt="" >
                <img src="assets/media/product/card-template.png" alt="" >
            </div>
            <div class="large">
                <img src="assets/media/product/product-detail.png" alt="" style="width:442px; height:521px">
            </div>
        </div>
        <div class="details">
            <h3>Peony sweater</h3>
            <span>900 USD</span>
            <form action="">
                <label for="color">color</label>
                <div class="colors"></div>
            </form>
        </div>
    </div>
</div>
