<div class="social">
    <div class="container">
        <div class="header">
            <h4>Follow us on Instagram</h4>
            <img src="assets/media/social/ig.svg" alt="">
        </div>
    </div>
    <div class="media">
        <img src="assets/media/social-ntw/Rectangle 13.png" alt="">
        <img src="assets/media/social-ntw/Rectangle 14.png" alt="">
        <img src="assets/media/social-ntw/Rectangle 15.png" alt="">
        <img src="assets/media/social-ntw/Rectangle 16.png" alt="">
        <img src="assets/media/social-ntw/Rectangle 13.png" alt="">
    </div>
</div>
