<div class="footer-container">
    <div class="sections">
        <section class="section">
            
                <span>BROWSE</span>
                <span>New arrivals</span>
                <span>New arrivals</span>
                <span>New arrivals</span>
                <span>New arrivals</span>
            
        </section>
        <div class="divider"></div>
        <section class="section">
           
                <span>About Us</span>
                <span>New arrivals</span>
                <span>New arrivals</span>
                <span>New arrivals</span>
                <span>New arrivals</span>
           
        </section>
        <div class="divider"></div>

        <section class="section">
            <span>Contact us</span>
            <span>New arrivals</span>
            <span>New arrivals</span>
            <span>New arrivals</span>
            <span>New arrivals</span>
        
        </section>
    </div>
    
</div>
