.cover {
    margin: 2rem 0;
    justify-content: space-between;
    align-items: center;
}
.header {
    font-size: 48px
}
.gallery {
    flex-wrap: wrap;
    justify-content: space-between;
}
.gallery product-card {
    flex-basis: 45%;
    font-size: 30px;
    margin-bottom: 1rem;
}